// Ckeditor
.ck.ck-editor{
	.ck.ck-button{
		padding: 6px 8px;
		background-color: #ea7a9a21;
		color: $primary;
		font-weight: 900;
		cursor:pointer;
	}
	.ck.ck-toolbar{
		border: 0;
		padding: 5px 10px;
	}
	.ck.ck-toolbar__separator{
		display: none !important;
	}
	.ck-content{
		background-color: #f7f7f7;
		border-width: 1px 0 0;
		border-color: #e7e5ef;
	}
}


.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred {
    border-color: $border;
	padding: 0.865rem var(--ck-spacing-standard);
	background:#f9f9f9;
}

.ck.ck-toolbar .ck-toolbar__items .ck.ck-toolbar__separator {
    background: $border;
}
.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred {
	min-height: 9.375rem;
}
button.ck.ck-button.ck-off:hover {
    background-color: $border;
}
.ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused{
	min-height: 9.375rem;
}

.editor-title{
	.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred,
	.ck-focused{
		width:57.313rem;
		
		@include respond ('laptop'){
			width:100%;
		}
		@include respond ('phone-land'){
			width:500px;
		}
		@include respond ('phone'){
			width:100%;
		}
	}
}
.ck-editor__editable{
	background-color:#c4c4c4;	
				 
}