.flex-row-fluid{
	-webkit-box-flex: 1;
    flex: 1 auto;
    -ms-flex: 1 0 0px;
    min-width: 0;
}
.authincation{
	background:rgba($primary,0.03);
	display:flex;
	min-height: 100vh;
	align-items:center;
	.login-aside{
		background: $white;
		padding-top: 80px;
		max-width:560px;
		width: 100%;
		z-index:1;
		position:relative;
		@at-root [data-theme-version="dark"] & {
			background: $dark-card;
			&:after{
				background: $dark-card;
			}
		}
		&:after{
			content:"";
			clip-path: polygon(0% 100%, 100% 0%, 0% 0%);
			width:140px;
			height:100%;
			position:absolute;
			right:-140px;
			z-index:-1;
			top:0;
			background: $white;
			box-shadow: 2px 0px 30px rgba(0, 0, 0,0.15);
			@at-root [direction="rtl"] #{&} {
				clip-path: polygon(100% 100%, 100% 0%, 0% 0%);
			}
		}
		.aside-image{
			min-height:450px;
			margin: auto 0;
			min-width: 0;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	@include respond ('laptop'){
		.login-aside{
			max-width:360px;
			&:after{
				content:none;
			}
		}
	}
	@include respond ('tab-port'){
		.login-aside{
			max-width:100%;
			padding-top: 0;
		}
	}
	@include respond ('phone'){
		.login-aside{
			.aside-image{
				min-height:300px;
			}
		}
	}
}


.brand-logo{
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	font-size: 1.125rem;
	color: $white;
	text-decoration: none;
	padding-left: 50px;
	padding-right: 50px;
	font-weight: 700;
	.brand-title{
		margin-left: 20px;
		max-width: 120px;
		margin-top: 5px;
		font-size: 38px;
		color: $black;
		@include custommq($max: 1350px) {
			font-size:34px;
		}
		@at-root [data-theme-version="dark"] & {
			color:$white;
		}
	}
}
.authincation-content{
    background: $white;
    box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
    border-radius: 5px;
	margin:35px 0;		   
    @at-root [data-theme-version="dark"] & {
        background: $dark-card;
        box-shadow: none;
    }
	&.style-1{
		background:rgba($white,0.5);
		backdrop-filter:blur(20px);
		.form-control{
			background:rgba($white,0.6);
			border-radius:5px;
		}
		.user-icon{
			height: 100px;
			background:$primary;
			width: 100px;
			text-align:center;
			border-radius: 100px;
			line-height: 100px;
			margin-left: auto;
			font-size: 60px;
			text-align: center;
			color: white;
			margin-right: auto;
			margin-top: -100px;
			margin-bottom: 20px;
		}
	}
	&.style-2{
		background:transparent;
		box-shadow:none;
		max-width: 530px;
		width: 100%;
		.form-control{
			border:0;
			border-radius:0;
			box-shadow:0px 0px 15px rgba(0,0,0,0.08);
		}
		@include respond ('tab-port'){
			padding:25px 0;
		}
		@include respond ('phone'){
			.auth-form{
				padding: 30px 0px;
			}
		}
	}
}
.welcome-content{
    background: url('./../images/1.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    padding: 75px 50px;
    position: relative;
    z-index: 1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    &::after{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: $primary;
        opacity: 0.75;
        z-index: -1;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .welcome-title{
        color: $white;
        font-weight: 500;
        font-size: 20px;
    }
    p{
        color: $white;
    }

    .brand-logo{
        a{
            display: inline-block;
            margin-bottom: 20px;
            font-weight: 700;
            color: $white;
            font-size: 20px;
        img{
            width: 100px;
        }
        }
    }

    .intro-social{
        position: absolute;
        bottom: 75px;
        ul{
            margin-bottom: 0;
            li{
                display: inline-block;
                a{
                    color: $white;
                    font-size: 14px;
                    padding: 0px 7px;
                }
            }
        }
    }
}
.auth-form{
    padding: 50px 50px;
	@include respond('phone') {
		padding: 30px;
	}	
    /* .btn{
        font-weight: 700;
    } */
    .page-back{
        display: inline-block;
        margin-bottom: 15px;
    }
}
.eye{
	position:absolute;
	top: 50%;
	right:20px;
	transform:translateY(-50%);
}